@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

h1, .h1 { @include fluid-type(1.875rem, 2.5rem); margin: 0 0 s(4); }
h2, .h2 { @include fluid-type(1.5rem, 2rem); margin: 0 0 s(3); }
h3, .h3 { font-size: 1.25rem; margin: 0 0 s(2); }
p { line-height: 1.6; margin: 0 0 s(3); }
.lead { opacity: .85; }
